<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- 下载线程数 -->
    <add key="ThreadNum" value="3"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36"/>
    <!-- 存储位置，不指定绝对路径将在程序根目录创建下载目录 -->
    <!--<add key="SaveDir" value="down:load\{yyyyMMdd_HHmmss}" />-->
    <add key="SaveDir" value="download\" />
  </appSettings>
</configuration>