<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="Info" xsi:type="File" fileName="${basedir}/logs/info/info-${date:format=yyyyMMddHH}.txt"
          layout="[${level} | ${logger}]${longdate}${message}${exception}${newline}" archiveAboveSize="5000000" archiveNumbering="DateAndSequence" encoding="utf-8"/>
    <target name="Complement" xsi:type="File" fileName="${basedir}/logs/complement/complement-${date:format=yyyyMMddHH}.txt"
          layout="[${level} | ${logger}]${longdate}${message}${exception}${newline}" archiveAboveSize="5000000" archiveNumbering="DateAndSequence" encoding="utf-8"/>
    <target name="Debug" xsi:type="File" fileName="${basedir}/logs/debug/debug-${date:format=yyyyMMddHH}.txt"
          layout="[${level} | ${logger}]${longdate}${message}${exception}${newline}" archiveAboveSize="5000000" archiveNumbering="DateAndSequence" encoding="utf-8"/>
    <target name="Exception" xsi:type="File" fileName="${basedir}/logs/error/error-${date:format=yyyyMMddHH}.txt"
          layout="[${level} | ${logger}]${longdate}${message}${exception}${newline}" archiveAboveSize="5000000" archiveNumbering="DateAndSequence" encoding="utf-8"/>
    <target name="Fatal" xsi:type="File" fileName="${basedir}/logs/fatal/fatal-${date:format=yyyyMMddHH}.txt"
          layout="[${level} | ${logger}]${longdate}${message}${exception}${newline}" archiveAboveSize="5000000" archiveNumbering="DateAndSequence" encoding="utf-8"/>
    
    <target name="LogCustom" 
            xsi:type="File" 
            fileName="${basedir}/logs/${event-context:DirOrPrefix}${date:format=yyyyMMddHH}${event-context:Suffix}.txt" 
            archiveAboveSize="5000000"  
            archiveNumbering="DateAndSequence"
            encoding="utf-8"
            layout="[${level} | ${logger}]${longdate}${message}${exception}${newline}"></target>

    <target name="logConsole" xsi:type="Console"/>
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Debug" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="logConsole"/>-->
    <logger name="*" minlevel="Debug" levels="Error" writeTo="logConsole"/>
    <logger name="*" level="Info" writeTo="Info"/>
    <logger name="*" level="Trace" writeTo="Complement"/>
    <logger name="*" level="Debug" writeTo="Debug"/>
    <logger name="*" level="Error" writeTo="Exception"/>
    <logger name="*" level="Fatal" writeTo="Fatal"/>
    <!--<logger name="LogCustom" level="Warn" writeTo="LogCustom" />-->
    <logger name="LogCustom" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="LogCustom" />
  </rules>
</nlog>
